*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background: #7fc8a9;
}
.container {
  flex: 2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px;
  max-width: 350px;
}

.container-wrapper {
  display: flex;
  justify-content: center;
}

#space {
  position: absolute;
  margin-left: 100px;
  top: 30px;
  width: 720px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  border-radius: 30px;
  background: #d5eebb;
}

#square {
  margin: 10px;
  width: 150px;
  height: 150px;
  background: #d5eebb;
  font-size: 20px;
  border-radius: 20px;
}

#square p {
  color: #444941;
  font-weight: bold;
  font-size: 28px;
  text-align: center;
  justify-content: center;
}
/* 
#bulb {
  color: #5f7a61;
  display: flex;
  font-size: 38px;
  justify-content: center;
  margin: 5px;
}

#square {
  width: 150px;
  height: 150px;
  background: #d5eebb;
  font-size: 20px;
  border-radius: 20px;
} */

/* #btns {
  margin: 10px;
  width: 150px;
  height: 150px;
  background: #d5eebb;
  font-size: 20px;
  border-radius: 20px;
}

#btns p {
  color: #444941;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  justify-content: center;
} */

#btn-light,
#btn-curtains,
#btn-garage,
#btn-temperature,
#btn-tv,
#btn-music {
  margin: 10px;
  width: 150px;
  height: 150px;
  background: #d5eebb;
  font-size: 20px;
  border-radius: 20px;
  /* border-style: solid;
  border-color: #5F7A61; */
}
#btn-kitchen {
  margin: 10px;
  width: 320px;
  height: 90px;
  background: #d5eebb;
  font-size: 20px;
  border-radius: 20px;
  /* border-style: solid;
  border-color: #5f7a61; */
}

#btn-kitchen p {
  color: #444941;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  justify-content: center;
}

#choose-light-color {
  font-size: 24px;
  color: #000000;
  font-weight: bold;
  width: 200px;
  height: 200px;
  background-color: #c1cfc0;
  margin: 20px;
  border-radius: 20px;
}
#choose-light-color p {
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
}

#cross {
  font-size: 20px;
  margin-right: 10px;
}

.fa-times {
  pointer-events: none;
}
