*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background: #7fc8a9;
}
.container {
  flex: 2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px;
  max-width: 350px;
}

.container-wrapper {
  display: flex;
  justify-content: center;
}

#space {
  position: absolute;
  margin-left: 100px;
  top: 30px;
  width: 580px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  border-radius: 30px;
  background: #d5eebb;
}

#square {
  margin: 10px;
  width: 150px;
  height: 150px;
  background: #d5eebb;
  font-size: 20px;
  border-radius: 20px;
}

#square p {
  color: #444941;
  font-weight: bold;
  font-size: 28px;
  text-align: center;
  justify-content: center;
}
/* 
#bulb {
  color: #5f7a61;
  display: flex;
  font-size: 38px;
  justify-content: center;
  margin: 5px;
}

#square {
  width: 150px;
  height: 150px;
  background: #d5eebb;
  font-size: 20px;
  border-radius: 20px;
} */

/* #btns {
  margin: 10px;
  width: 150px;
  height: 150px;
  background: #d5eebb;
  font-size: 20px;
  border-radius: 20px;
}

#btns p {
  color: #444941;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  justify-content: center;
} */

#btn-light,
#btn-curtains,
#btn-garage,
#btn-temperature,
#btn-tv,
#btn-music {
  cursor: pointer;
  margin: 10px;
  width: 150px;
  height: 150px;
  background: #d5eebb;
  font-size: 20px;
  border-radius: 20px;
  /* border-style: solid;
  border-color: #5F7A61; */
}
#btn-kitchen {
  cursor: pointer;
  margin: 10px;
  width: 320px;
  height: 100px;
  background: #d5eebb;
  font-size: 20px;
  border-radius: 20px;
  /* border-style: solid;
  border-color: #5f7a61; */
}

#btn-kitchen p {
  font-size: 20px;
  text-align: center;
  justify-content: center;
}

#choose-light-color {
  font-size: 24px;
  color: #000000;
  font-weight: bold;
  width: 250px;
  height: 250px;
  background-color: #c1cfc0;
  margin: 20px;
  border-radius: 20px;
}
#choose-light-color p {
  margin-bottom: 10px;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
}

.cross {
  font-size: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.fa-times {
  pointer-events: none;
}

input[type="checkbox"] {
  appearance: none;
  height: 40px;
  width: 70px;
  margin-top: 10px;
  margin-left: 10px;
  border-style: solid;
  border-color: #7fc8a9;
  border-radius: 50px;
  position: absolute;
  cursor: pointer;
  outline: none;
  transition: 0.3s;
}
input[type="checkbox"]::before {
  content: "";
  position: absolute;
  height: 30px;
  width: 30px;
  top: 2px;
  left: 5px;
  background-color: cornsilk;
  border-radius: 50%;
  transition: 0.3s;
}

input[type="checkbox"]::after {
  content: "Off";
  font-weight: bolder;
  position: absolute;
  color: #000000;
  font-size: 20px;
  top: 5px;
  left: 80px;
  bottom: -5px;
  transition: 0.3s;
}

input[type="checkbox"]:checked {
  background-color: #7fc8a9;
}

input[type="checkbox"]:checked::before {
  background-color: #d5eebb;
  left: 32px;
}

input[type="checkbox"]:checked::after {
  content: "On";
  color: #000000;
}

#input-checker-curtains:before {
  content: "";
}

#input-checker-curtains::after {
  content: "Close";
}

#input-checker-curtains:checked::after {
  content: "Open";
}

#input-checker-garage:before {
  content: "";
}

#input-checker-garage:after {
  content: "Open";
}

#input-checker-garage:checked::after {
  content: "Close";
}

#extra-light-text {
  font-size: 20px;
  margin-top: 80px;
  font-weight: normal;
}

#extra-garage-light {
  margin-top: 8px;
}

#extra-garage-light::before {
  content: "";
}

#extra-garage-light::after {
  content: "Add";
}

#extra-garage-light:checked::after {
  content: "Remove";
}

#input-checker-temperature::before {
  content: "";
}

#input-checker-temperature::after {
  content: "On";
}

#input-checker-temperature:checked::after {
  content: "Off";
}

#input-checker-tv::before {
  content: "";
}

#input-checker-tv::after {
  content: "On";
}

#input-checker-tv:checked::after {
  content: "Off";
}

#random-color {
  width: 120px;
  height: 50px;
  border-radius: 16px;
  background-color: #ffffff;
}

#getRandomColorText {
  font-size: 20px;
  margin-top: 80px;
  font-weight: normal;
}

#btn-wrapper {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

#btn-random {
  border: none;
  border-radius: 15%;
  margin-right: 10px;
  width: 50px;
  font-size: 20px;
  background: #7fc8a9;
  color: #ffffff;
  cursor: pointer;
}

#range-wrapper {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

#tv-option {
  font-weight: normal;
}

#channel-all-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

#chanel-value {
  text-align: center;
}

#chanel-wrapper {
  display: flex;
  margin-top: 10px;
  justify-content: center;
}

audio {
  margin-top: 80px;
  margin-left: 10px;
  width: 90%;
}
