*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background: #b8b5ff;
}
.container {
  flex: 2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px;
  max-width: 350px;
}

.container-wrapper {
  display: flex;
  justify-content: center;
}

#space {
  position: absolute;
  margin-left: 100px;
  top: 30px;
  width: 580px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  border-radius: 30px;
  background: #e4fbff;
}

/* #square {
  margin: 10px;
  width: 150px;
  height: 150px;
  background: #edeef7;
  font-size: 20px;
  border-radius: 20px;
}

#square p {
  color: #444941;
  font-weight: bold;
  font-size: 28px;
  text-align: center;
  justify-content: center;
} */

#btn-light,
#btn-curtains,
#btn-garage,
#btn-temperature,
#btn-tv,
#btn-music {
  cursor: pointer;
  color: #ffffff;
  margin: 10px;
  width: 150px;
  height: 150px;
  background: #7868e6;
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 1px;
  border-radius: 20px;
  border: 3px solid #7868e6;
}

#btn-light:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

#btn-curtains:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

#btn-garage:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

#btn-temperature:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

#btn-tv:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

#btn-music:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

#btn-kitchen:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

#btn-kitchen {
  cursor: pointer;
  margin: 10px;
  width: 320px;
  height: 100px;
  color: #ffffff;
  background: #7868e6;
  font-size: 20px;
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 1px;
  border: 3px solid #7868e6;
  border-radius: 20px;
}

#btn-kitchen p {
  font-size: 20px;
  text-align: center;
  justify-content: center;
  color: #ffffff;
}

#choose-light-color {
  font-size: 24px;
  color: #ffffff;
  font-weight: bold;
  width: 250px;
  height: 250px;
  background-color: #7868e6;
  margin: 20px;
  border-radius: 20px;
}

#choose-light-color:disabled {
  color: #ff7171;
}

#choose-light-color p {
  letter-spacing: 1px;
  margin-bottom: 10px;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
}

.cross {
  font-size: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.fa-times {
  pointer-events: none;
}

input[type="range"] {
  width: 160px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  overflow: hidden;
  height: 7px;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 7px;
  background-color: #ff7171;
}

input[type="range"]::-webkit-slider-thumb {
  background: #ecf0f1;
  cursor: pointer;
  width: 15px;
  height: 15px;
  -webkit-appearance: none;
  margin-top: -4px;
  box-shadow: -200px 0 0 200px #b8b5ff;
}

input[type="range"]::-moz-range-track {
  height: 7px;
  background-color: #ff7171;
}

input[type="range"]::-moz-range-thumb {
  background: #ecf0f1;
  cursor: pointer;
  height: 7px;
  border-radius: 0px;
  box-shadow: -200px 0px 0px 200px #43e5f7;
  padding: 0px;
  margin: 0px;
}

input[type="checkbox"] {
  appearance: none;
  height: 40px;
  width: 70px;
  margin-top: 10px;
  margin-left: 10px;
  border-style: solid;
  border-color: #b8b5ff;
  letter-spacing: 1px;
  color: #ffffff;
  border-radius: 50px;
  position: absolute;
  cursor: pointer;
  outline: none;
  transition: 0.3s;
}
input[type="checkbox"]::before {
  content: "";
  position: absolute;
  height: 30px;
  width: 30px;
  top: 2px;
  left: 5px;
  background-color: cornsilk;
  border-radius: 50%;
  transition: 0.3s;
}

#result {
  margin-right: 10px;
}

input[type="checkbox"]::after {
  content: "Off";
  font-weight: bolder;
  position: absolute;
  color: #ffffff;
  font-size: 20px;
  top: 5px;
  left: 80px;
  bottom: -5px;
  transition: 0.3s;
}

input[type="checkbox"]:checked {
  background-color: #b8b5ff;
  color: #ffffff;
}

input[type="checkbox"]:checked::before {
  background-color: #ffffff;
  color: #ffffff;
  left: 32px;
}

input[type="checkbox"]:checked::after {
  content: "On";
  color: #ffffff;
}

#input-checker-curtains:before {
  content: "";
}

#input-checker-curtains::after {
  content: "Close";
}

#input-checker-curtains:checked::after {
  content: "Open";
}

#input-checker-garage:before {
  content: "";
}

#input-checker-garage:after {
  content: "Open";
}

#input-checker-garage:checked::after {
  content: "Close";
}

#extra-light-text {
  font-size: 20px;
  margin-top: 80px;
  font-weight: normal;
}

#extra-garage-light {
  margin-top: 8px;
}

#extra-garage-light::before {
  content: "";
}

#extra-garage-light::after {
  content: "Add";
}

#extra-garage-light:checked::after {
  content: "Remove";
}

#input-checker-temperature::before {
  content: "";
}

#input-checker-temperature::after {
  content: "On";
}

#input-checker-temperature:checked::after {
  content: "Off";
}

#input-checker-tv::before {
  content: "";
}

#input-checker-tv::after {
  content: "On";
}

#input-checker-tv:checked::after {
  content: "Off";
}

#input-checker-kitchen:before {
  content: "";
}

#input-checker-kitchen:after {
  top: 0px;
  content: "Turn on dishwasher";
}

#input-checker-kitchen:checked::after {
  top: 0px;
  content: "Turn off dishwasher";
}

#boil-kettle::before {
  content: "";
}

#boil-kettle::after {
  top: 0px;
  content: "Boil kettle";
}

#boil-kettle:checked::after {
  content: "Turn off";
}

#boil-kettle {
  margin-top: 80px;
}

#random-color {
  width: 120px;
  height: 50px;
  border-radius: 16px;
  background-color: #ffffff;
}

#getRandomColorText {
  font-size: 20px;
  margin-top: 80px;
  font-weight: normal;
}

#btn-wrapper {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

#btn-random {
  border: none;
  border-radius: 15%;
  margin-right: 10px;
  width: 50px;
  font-size: 20px;
  background: #b8b5ff;
  color: #ffffff;
  cursor: pointer;
}

#range-wrapper {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

#tv-option {
  font-weight: normal;
}

#channel-all-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

#chanel-value {
  text-align: center;
}

#chanel-wrapper {
  display: flex;
  margin-top: 10px;
  justify-content: center;
}

audio {
  margin-top: 80px;
  margin-left: 10px;
  width: 90%;
}

#chanel-value {
  font-size: 30px;
}

#btn-back,
#btn-forward {
  cursor: pointer;
  width: 30px;
  height: 30px;
  font-size: 20px;
  color: #ffffff;
  border: 1px solid #b8b5ff;
  background: #b8b5ff;
  margin-right: 5px;
}

/* #btn-forward {
    cursor: pointer;
  width: 30px;
  height: 30px;
  font-size: 20px;
  color: #ffffff;
  border: 1px solid #b8b5ff;
  background: #b8b5ff;
  margin-right: 5px;
} */
